Dockerfile
.dockerignore
.git
.gitignore
.azure
.venv
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.DS_Store
.idea/
.vscode/
*.ipynb
*.csv
